<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/base.css">
        <script src="https://use.fontawesome.com/21332905ad.js"></script>  

    </head>
    <body>
      <nav class="nav navbar fixed-top navbar-expand-md navbar-dark bg-override">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">        
            <i class="fa fa-free-code-camp" aria-hidden="true"></i>
            YelpCamp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-md-auto">
              <% if(!currentUser) { %>
                <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
              <% } else{ %>
                <li class="nav-item"><a class="nav-link active" href='#'>Signed in as <strong><%= currentUser.username %></strong></a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
              <% }; %>
            </ul>
          </div>
        </div>
      </nav>
      <div class='container'>
        <% if(error && error.length > 0){ %>
          <div class='alert alert-danger'>
            <%= error %>
          </div>
        <% } %>
        <% if(success && success.length > 0){ %>
          <div class='alert alert-info'>
            <%= success %>
          </div>
        <% } %>
      </div>
        