<% include ../partials/header %>

<div class="container mainview">
        <div class='row'>
            <h1 class='center'>
                Edit Comment on 
                <div>
                    <%= campground.name %>
                </div>
            </h1>
            <div class='card block-center'>
                <img class='card-img-top' src='<%= campground.image %>'>
                <div class='card-block'>
                    <h4 class='pull-right'>£4.34</h4>
                    <h4 class='card-title'>
                        <a href='#'>
                            <%= campground.name %>
                        </a>
                    </h4> 
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
            </div>
        </div>
        <div class='row card-spaced'>
            <form class='block-center' action='/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT' method='post'>
                <div class='form-group row'>
                    <input class='form-control' type='text' placeholder='comment' name='comment[text]'  value='<%= comment.text %>'>
                </div>
                <div class='row form-group'>
                    <input class='btn btn-primary btn-lg btn-block' type='submit' text='Submit!'>
                </div>
                <div class='row form-group'>
                    <a href='/campgrounds'>Back to List</a>
                </div>
            </form>
        </div>
</div>
<% include ../partials/footer %>
