<% include ./partials/header %>
<h1>Register</h1>
<form action="/register" method="POST">
    <input type='text'      placeholder='username' name='username'>
    <input type='password'  placeholder='password' name='password'>
    <button>Register</button>
</form>


<% include ./partials/footer %>