body {
  padding-top: 82px;
}
.jumbotron {
  color: #2c3e50;
  padding-bottom: 35px;
}
.jumbotron p:first-of-type {
  padding-top: 24px;
}
.bg-override {
  background: #789;
}
.mainview {
  width: 60%;
  margin: 25px auto;
}
h1 {
  width: 100%;
}
.center{
  text-align: center;
}
.block-center{
  width: 80%;
  margin:auto;
}
.card-spaced{
  margin-top: 15px;
}
.card-block{
  padding: 20px 15px;
}
.card-block-slim:first-of-type{
  padding: 20px 5px 0 5px;
}
.card-block-slim:last-of-type{
  padding: 10px 5px 15px 5px;
}
.delete-form{
  display:inline;
}
.comment {
  margin-bottom: 10px;
}
