<% include ../partials/header %>

<div class="container main">
    <div class='row'>
        <h1 class='center'>Edit <%= campground.name %></h1>
        <div class='mainview'>
            <form action='/campgrounds/<%= campground._id %>?_method=PUT' method='post'>
                <div class='row form-group'>
                    <input class='form-control' type='text' placeholder='name' name='campground[name]' value='<%= campground.name %>'>
                </div>
                <div class='form-group row'>
                    <input class='form-control' type='text' placeholder='image url' name='campground[image]' value='<%= campground.image %>'>
                </div>
                <div class='form-group row'>
                    <input class='form-control' type='number' placeholder='price' name='campground[price]' value='<%= campground.price %>' min="0.0" step="0.01">
                </div>
                <div class='form-group row'>
                    <input class='form-control' type='text' placeholder='description' name='campground[description]' value='<%= campground.description %>'>
                </div>
                <div class='row form-group'>
                    <input class='btn btn-primary btn-lg btn-block' type='submit' text='Submit!'>
                </div>
            </form>
            <a href='/campgrounds'>Back to List</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>
