<% include ../partials/header %>

<div class="container main">
    <!--<div class='container'>-->
        <header class='jumbotron'>
            <h1>
            <i class="fa fa-free-code-camp" aria-hidden="true"></i> Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from around the world.</p>
            <p>
                <a class='btn btn-primary btn-lg' href='/'>Home</a>
                <a class='btn btn-primary btn-lg' href="/campgrounds/new">Add New Campground</a>
            </p>
        </header>
    <!--</div>-->
    
    
    <!--<div class='container'>-->
        <!--<div class='row'>-->
        <!--  <div class="col-lg-12">-->
        <!--    <h3>Our most popular campgrounds</h3>-->
        <!--  </div>-->
        <!--</div>-->
        <div class='row text-center' style='display:flex; flex-wrap:wrap; margin-bottom: 20px;'>
            <% if(campgrounds){ %>
                    <% campgrounds.forEach(function(ground){ %>
                        <div class="col-md-3 col-sm-6" style='margin-bottom: 20px;'>
                            <div class='card'>
                                <img  class='card-img-top' src="<%= ground.image %>" >
                                <div class='card-block card-block-slim'><h4><%= ground.name %></h4></div> 
                                <div class='card-block card-block-slim'><a class='btn btn-primary' href='/campgrounds/<%= ground._id %>'>More Info</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
            <% } else { %>
                <h2>No Results</h2>
            <% } %>
        </div>
    <!--</div>-->
</div>
<% include ../partials/footer %>
