<% include ../partials/header %>

<div class="container main">
    <div class='row'>
        <h1 class='center'>Create a New Campground</h1>
        <div class='mainview'>
            <form action='/campgrounds' method='post'>
                <div class='row form-group'>
                    <input class='form-control' type='text' placeholder='name' name='name'>
                </div>
                <div class='form-group row'>
                    <input class='form-control' type='text' placeholder='image url' name='image'>
                </div>  
                <div class='form-group row'>
                    <input class='form-control' type='number' placeholder='price' name='price' min="0.0" step="0.01">
                </div>
                <div class='form-group row'>
                    <input class='form-control' type='text' placeholder='description' name='description'>
                </div>
                <div class='row form-group'>
                    <input class='btn btn-primary btn-lg btn-block' type='submit' text='Submit!'>
                </div>
            </form>
            <a href='/campgrounds'>Back to List</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>
