<% include ../partials/header %>

<div class="container main">
    <div class='row'>
        <div class="col-md-3">
            <p class="lead">Yelp Camp</p>
            <ul class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </ul>
            <div class='card card-spaced'>
                <a class='card-block' href='/campgrounds'>Back to List</a>
            </div>
        </div>
        <div class='col-md-9'>
            <div class='card'>
                <img class='card-img-top' src='<%= campground.image %>'>
                <div class='card-block'>
                    <h4 class='pull-right'>£<%= campground.price %>/night</h4>
                    <h4 class='card-title'>
                        <a href='#'>
                            <%= campground.name %>
                        </a>
                    </h4> 
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text">
                        <em>
                            Submitted by
                            <%= campground.author.username %>
                        </em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-sm btn-success" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class='delete-form' action='/campgrounds/<%= campground._id+'?_method=DELETE' %>' method='post'>
                            <button class='btn btn-sm btn-danger'>Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class='card card-inverse card-spaced'>
                <div class='card-block'>
                    <div class='text-right'>
                        <a href='/campgrounds/<%= campground._id %>/comments/new' class='btn btn-success'>Add Comment</a>
                    </div>
                </div>
                <div class='card-block'>
                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row comment">
                            <div class='col-md-12'> 
                                <strong>
                                    <%= comment.author.username %> 
                                </strong>
                                <span class='pull-right'>10 days ago</span>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <div class='text-right'>
                                        <a class="btn btn-sm btn-success" 
                                           href="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>/edit">Edit</a>
                                        <form class="delete-form" action="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                            <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
